<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mail Integration</title>
    <meta name="description" content="Mail Integration">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/common/css/custom/fonts.css">
    <link rel="stylesheet" href="/common/css/custom/hub.css">
    <link rel="stylesheet" href="./mail.css">
</head>

<body>

    <div id="widget"></div>
    <div class="popupOverlay"></div>

    <script src="/common/js/config/appConfig.options.js"></script>
    <script src="/common/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="/common/js/vendor/moment.js"></script>
    <script src="/common/js/vendor/Autolinker.min.js"></script>
    <script src="/common/js/custom/login.ox.js"></script>
    <script src="/common/js/custom/mail.ox.js"></script>

    <script src="./mail.js"></script>
    <script>
        $(document).ready(function() {
            console.log("dsfsdgsgd");
        });
    </script>
</body>

</html>